.home-form {
  background-color: seagreen;
  padding: 0.5cm;
  padding-bottom: 0;
  text-align: center;
  border-radius: 12px;
  margin: 0.5cm;
}
.time {
  float: left;
  margin-right: 1cm;
}
.task {
  float: left;
  margin-right: 1cm;
}
.prio {
  float: left;
  margin-right: 1cm;
}
.su {
  margin: 0.5cm;
}

.border {
  background-color: purple;
  padding: 0.2cm;
  margin: 0.5cm;
  border-radius: 12px;
}
.t {
  float: left;
  margin-right: 1cm;
}
.n {
  margin-right: 1cm;
  float: left;
}
.f {
  margin-right: 1cm;
  float: left;
}
.w {
  margin-right: 1cm;
  float: left;
}
.but{
  background-color: blue;
}